.container {
  width: 300px;
  margin-left: auto;
  margin-top: 15rem;
  margin-right: auto;
  padding: 20px;

  text-align: center;
  background: grey;
  border: 1px solid black;
  border-radius: 5px;
}

.output {
  margin-bottom: 1rem;
}

input {
  width: 272px;
  text-align: right;
}

button {
  margin: 4px;
  width: 4rem;
}
